<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>VCO Systems</title>
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16"
	href="../assets/images/favicon.png">
<!--     <link rel="stylesheet" href="../assets/vendor/owl-carousel/css/owl.carousel.min.css"> -->
<!--     <link rel="stylesheet" href="../assets/vendor/owl-carousel/css/owl.theme.default.min.css"> -->
<!--     <link href="../assets/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet"> -->

<link href="../assets/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="../assets/jqwidgets/styles/jqx.base.css"
	type="text/css" />

<style type="text/css">
.jqx-grid .jqx-clear {
	z-index: 0;
}
</style>
</head>

<body>




	<!--**********************************
        Main wrapper start
    ***********************************-->
	<div id="main-wrapper">

		<div th:insert="~{/header::header-frag}"></div>

		<div th:insert="~{/sidebar::sidebar-frag}"></div>

		<!--**********************************
            Content body start
        ***********************************-->
		<div class="content-body">
			<!-- row -->
			<div class="container-fluid">

				<div class="container-fluid" style="padding: 0px">
					<div class="row d-flex" style="padding: 10px">

						<div class="col-sm-2 mb-2 mb-sm-0">

							<button type="button" class="btn btn-primary" id="addEmployee"
								style="margin-left: 0.5rem">Add Employee</button>
						</div>
						<div class="col-sm-2 mb-2 mb-sm-0" style="padding: 0px">
							<input type="text" class="form-control form-control-user"
								id="filterEmpId" name="filterEmpId" placeholder="Employee Id">
						</div>
						<div class="col-sm-1 mb-1 mb-sm-0" style="padding: 0px">
							<button type="button" class="btn btn-primary" id="findEmp"
								style="margin-left: 0.5rem">Find</button>
						</div>

					</div>

					<div class="row d-flex justify-content-center">

						<div class="col-lg-12">
							<div id="employee_grid"></div>
						</div>
					</div>
					<div class="row d-flex justify-content-center">


						<div class="modal" id="addUpdateEmployeesModal"
							style="margin-left: 5%" data-backdrop="static"
							data-keyboard="false">

							<div class="modal-dialog modal-lg">
								<div class="modal-content"
									style="height: 600px; overflow-y: scroll">
									<div class="card">

										<div class="card-header py-3">

											<h6 id="header" class="m-0 font-weight-bold"
												style="line-height: revert; flex: auto; color: white;">Add
												Employee</h6>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true" style="color: white;">&times;</span>
											</button>


										</div>
										<div class="card-body">
											<form class="user" id="employeesForm"
												enctype="multipart/form-data">
												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<span for="employeeId"
															class="form-label form-control-user">Employee Id</span> <input
															type="text" class="form-control form-control-user"
															id="employeeOrgId" name="employeeOrgId"
															pattern="[a-zA-Z0-9]{6,}"
															title="Minimum 6 characters are required" required>
													</div>
													<div class="col-sm-6">
														<span for="EmployeeDesc"
															class="form-label form-control-user">Employee Full
															Name</span> <input type="text"
															class="form-control form-control-user"
															id="employeeFullName" name="employeeFullName" required
															pattern="[a-zA-Z]{5,}"
															title="Minimum 5 characters are required">
													</div>
												</div>

												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<span for="designation"
															class="form-label form-control-user">Designation </span>
														<div id="designation"></div>
													</div>

													<div class="col-sm-6 mb-3 mb-sm-0">
														<span for="designation"
															class="form-label form-control-user">Application
															Roles </span>
														<div id="roles"></div>
													</div>


												</div>

												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<span for="emailId" class="form-label form-control-user">Email
															Id</span> <input type="email"
															class="form-control form-control-user" id="emailId"
															name="emailId" required>

													</div>
													<div class="col-sm-6 mb-3 mb-sm-0">
														<span for="countryCode"
															class="form-label form-control-user">Country</span>
														<div id="countryCode"></div>

													</div>
												</div>
												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<span for="phoneNumber"
															class="form-label form-control-user">Phone Number</span>
														<input type="text" class="form-control form-control-user"
															pattern="[1-9]{1}[0-9]{9}"
															title="Enter 10 digit mobile number" id="mobNumber"
															name="mobNumber" required>
													</div>
													<div class="col-sm-6 mb-3 mb-sm-0">
														<span for="hireDate" class="form-label form-control-user">Hire
															Date</span>
														<div class="form-control form-control-user" id='hireDate'></div>
													</div>


												</div>


												<div class="row">
													<div class="col-lg-4 col-md-4">
														<span class="form-label form-control-user"
															style="color: #343597">Personal Details</span>
													</div>

												</div>
												<hr>



												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<span for="personalEmailId"
															class="form-label form-control-user">Email Id</span> <input
															type="email" class="form-control form-control-user"
															id="personalEmailId" name="personalEmailId" required>
													</div>
													<div class="col-sm-6 mb-3 mb-sm-0">
														<span for="dobDate" class="form-label form-control-user">Date
															of Birth</span>
														<div class="form-control form-control-user" id='dobDate'></div>
													</div>


												</div>
												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">

														<span for="emailId" class="form-label form-control-user">Adhar
															Card No.</span> <input type="text"
															class="form-control form-control-user" id="adharCardNo"
															name="adharCardNo" required>

													</div>

													<div class="col-sm-6 mb-3 mb-sm-0">
														<span for="emailId" class="form-label form-control-user">PAN
															Card No.</span> <input type="text"
															class="form-control form-control-user" id="panCardNo"
															name="panCardNo" required>
													</div>



												</div>

												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">


														<span for="permanentAddress"
															class="form-label form-control-user">Permanent
															Address</span>
														<textarea class="form-control form-control-user"
															id="permanentAddress" name="permanentAddress" rows="2"
															cols="50" required></textarea>

													</div>

													<div class="col-sm-6 mb-3 mb-sm-0">
														<span for="altMobNumber"
															class="form-label form-control-user">Alternate
															Mobile Number </span> <input type="text"
															class="form-control form-control-user"
															pattern="[1-9]{1}[0-9]{9}"
															title="Enter 10 digit mobile number" id="altMobNumber"
															name="altMobNumber" required>
													</div>
												</div>
												<div id="empactiveCheckbox" class="form-group row"
													style="display: none">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<span for="active" class="form-label form-control-user"
															style="padding-bottom: 1.5rem">Active</span> <input
															type="checkbox" id="empActive" name="empActive" value="true"
															checked="checked">
													</div>

												</div>

												<input type="number" value=0 name="employeeId"
													id="employeeId"
													style="display: none; padding: 0px; height: 0px;" readonly>
												<input type="number" value=0 name="empPersonalId"
													id="empPersonalId"
													style="display: none; padding: 0px; height: 0px;" readonly>

												<input type="button"
													class="btn btn-primary btn-user btn-block"
													style="margin: auto; width: 15%" value="Add Employee"
													id="addUpdEmployee" />
												<hr>

											</form>

										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>


			</div>
		</div>


	</div>


	<!-- Required vendors -->
	<script src="../assets/vendor/global/global.min.js"></script>
	<script src="../assets/js/quixnav-init.js"></script>
	<script src="../assets/js/custom.min.js"></script>

	<script type="text/javascript"
		src="../assets/vendor/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxcore.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxdata.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxbuttons.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxscrollbar.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxmenu.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxcheckbox.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxlistbox.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxdropdownlist.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxgrid.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxgrid.sort.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxgrid.pager.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxgrid.selection.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxgrid.edit.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxgrid.filter.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxgrid.columnsresize.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/demos.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxsplitter.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxlistbox.js"></script>

	<script type="text/javascript" src="../assets/jqwidgets/jqxdata.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxcombobox.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxdatetimeinput.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxcalendar.js"></script>
	<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<script type="text/javascript" src="../assets/js/app/common.js"></script>
	<script type="text/javascript" src="../assets/js/app/employees.js"></script>
</body>

</html>