<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>VCO Systems</title>
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16"
	href="../assets/images/favicon.png">
<!--     <link rel="stylesheet" href="../assets/vendor/owl-carousel/css/owl.carousel.min.css"> -->
<!--     <link rel="stylesheet" href="../assets/vendor/owl-carousel/css/owl.theme.default.min.css"> -->
<!--     <link href="../assets/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet"> -->

<link href="../assets/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="../assets/jqwidgets/styles/jqx.base.css"
	type="text/css" />

<style type="text/css">
.jqx-grid .jqx-clear {
	z-index: 0;
}

.row {
	margin: 0px !important;
}

.rowMargin {
	margin-bottom: 15px !important;
}
</style>
</head>

<body>




	<!--**********************************
        Main wrapper start
    ***********************************-->
	<div id="main-wrapper">

		<div th:insert="~{/header::header-frag}"></div>

		<div th:insert="~{/sidebar::sidebar-frag}"></div>

		<!--**********************************
            Content body start
        ***********************************-->
		<div class="content-body" style="min-height: 500px !important">

			<div class="container-fluid" style="padding: 0px"></div>

			<div id='roleAndOtherTabs' style="float: left;">
				<ul style="margin-left: 30px;" id="roleAndOtherList">
					<li>Roles</li>
					<li>Designations</li>
					<li>Projects</li>
				</ul>
				<div id="rolesTab">
					<div th:insert="~{/roles::roles-frag}"></div>
				</div>
				<div id="designationTab">
					<div th:insert="~{/designation::designation-frag}"></div>
				</div>
				<div id="projectsTab">
					<div th:insert="~{/projects::projects-frag}"></div>
				</div>

			</div>


		</div>

	</div>


	<!-- Required vendors -->
	<script src="../assets/vendor/global/global.min.js"></script>
	<script src="../assets/js/quixnav-init.js"></script>
	<script src="../assets/js/custom.min.js"></script>

	<script type="text/javascript"
		src="../assets/vendor/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxcore.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxtabs.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxbuttons.js"></script>
	<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxdata.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxbuttons.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxscrollbar.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxmenu.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxcheckbox.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxlistbox.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxdropdownlist.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxgrid.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxgrid.sort.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxgrid.pager.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxgrid.selection.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxgrid.edit.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxgrid.filter.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxgrid.columnsresize.js"></script>


	<script type="text/javascript" src="../assets/jqwidgets/jqxsplitter.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxlistbox.js"></script>

	<script type="text/javascript" src="../assets/jqwidgets/jqxdata.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxcombobox.js"></script>
	<script type="text/javascript"
		src="../assets/jqwidgets/jqxdatetimeinput.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/jqxcalendar.js"></script>
	<script type="text/javascript" src="../assets/jqwidgets/demos.js"></script>

	<script type="text/javascript" src="../assets/js/app/rolesAndOther.js"></script>
	<script type="text/javascript" src="../assets/js/app/roles.js"></script>
	<script type="text/javascript" src="../assets/js/app/projects.js"></script>
	<script type="text/javascript" src="../assets/js/app/designation.js"></script>
	<script type="text/javascript" src="../assets/js/app/common.js"></script>



</body>

</html>