<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<div th:fragment="roles-frag" style="padding: 10px; margin-left: 0.5rem">

	<div class="row">


		<button type="button" class="btn btn-primary" id="addRole"
			style="margin-left: 0.5rem; margin-bottom: 0.5rem">Add Role</button>

	</div>

	<div class="row">

		<div class="col-lg-12">
			<div id="roles_grid"></div>
		</div>
	</div>


	<div class="row d-flex justify-content-center">


		<div class="modal" id="rolesModal" style="margin-left: 5%"
			data-backdrop="static" data-keyboard="false">

			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="card">

						<div class="card-header py-3">

							<h6 id="roleHeader" class="m-0 font-weight-bold"
								style="line-height: revert; flex: auto; color: white;">Add
								Role</h6>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true" style="color: white;">&times;</span>
							</button>


						</div>
						<div class="card-body">
							<form class="user" id="rolesForm" enctype="multipart/form-data">
								<div class="form-group row rowMargin">
									<div class="col-sm-12">
										<span for="roleName" class="form-label form-control-user">Role
											Name</span> <input type="text"
											class="form-control form-control-user" id="roleName"
											name="roleName" required>
									</div>
								</div>
								<div class="form-group row rowMargin">
									<div class="col-sm-12">
										<span for="roleDesc" class="form-label form-control-user">
											Role Description</span> <input type="text"
											class="form-control form-control-user" id="roleDesc"
											name="roleDesc">
									</div>
								</div>
								<div id="rolesActiveChkBox" class="form-group row"
									style="display: none;">
									<div class="col-sm-6 mb-3 mb-sm-0">
										<span for="roleActive" class="form-label form-control-user"
											style="padding-bottom: 1.5rem">Active</span> <input
											type="checkbox" id="roleActive" name="roleActive"
											value="true" checked="checked">
									</div>
								</div>

								<input type="number" class="form-control form-control-user"
									id="id" name="id"
									style="visibility: hidden; width: 0px; height: 0px"> <input
									type="button"
									class="btn btn-primary btn-user btn-block rowMargin"
									style="margin: auto; width: 24%" value="Add Role"
									id="addUpdRole" />
								<hr>

							</form>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

</html>